.icon-48-surveys {
      background-image: url(../images/l_surveys.png);
      padding-left:60px!important;
}

.icon-48-survey {
      background-image: url(../images/l_surveys.png);
      padding-left:60px!important;
}

